main {
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
            flex: 1;
            display: flex;
            flex-direction: column;           
            gap: 15px;

            h1{
                text-align: center;
            }

            p{
                font-size: 18px;
            }
            
            .btn-primary{
                width: 100%;
            }
        
        }
        .right{
            img {
                max-width: 100%;
                height: auto;
        
            }
        }

    }

}

